<div class="timeline-layout">
  <section class="posting">
    <form action="/" method="post">
      <input type="hidden" name="action" value="POST">
      <div class="text-field">
        <textarea name="text" id="text" rows="4" placeholder="What's on your mind?"></textarea>

        {{#if error.text}}
          <p class="field-error">{{ message.text }}</p>
        {{/if}}

      </div>
      <div class="_actions">
        <button class="default" type="submit">
          Post
        </button>
      </div>
    </form>
  </section>

  {{> timeline}}
</div>